.box {
    width: 90%;
    margin: 0px auto;
}

.innerBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3rem 0;
}

.img {
    max-height: 10rem;
    border-radius: 1.5rem;
} 

.title {
    margin: 0 auto 0.5rem;
    font-family: 'Courgette', cursive;
    text-align: center;
    color: white;
}

