.form {
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.label {
    padding: 1rem;
    color: white;
    background: #111111;
    border-radius: 1rem 0 0 1rem;
}

.input {
    border: none;
    background-color: #1e1e1e;
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    outline: none;
}

.input::placeholder {
    font-size: 1.2rem;
}
.svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
}